.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.currency {
  background: #fff;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 16px;
  margin: 12px 0 0 12px;
  transition: 0.4s;
}

.currencyType {
  background: rgba(18,28,51,.05);
  border-radius: 8px;
  transition: 0.4s;
}

.currencyType:hover {
  box-shadow: 0 4px 8px rgba(185, 0, 0, 0.1);
  background-color: rgba(18,28,51,.5);
}